<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Update product offer in EffectConnect connections -->
    <event name="catalog_product_save_after">
        <observer name="offerExport" instance="EffectConnect\Marketplaces\Observer\OfferExport" />
    </event>
    <!-- Save shipment id to ec_marketplaces_order_lines -->
    <event name="sales_order_shipment_save_after">
        <observer name="shipmentSave" instance="EffectConnect\Marketplaces\Observer\ShipmentSave" />
    </event>
    <!-- Queue the sending of tracking codes to EffectConnect -->
    <event name="sales_order_shipment_track_save_after">
        <observer name="trackingExportQueue" instance="EffectConnect\Marketplaces\Observer\TrackingExportQueue" />
    </event>
</config>